
.card-content p{
    color: #7979AB;
    margin-left: 10px;
}
.card-content h4{
    color: #3D405C;
}
.card-summary{
    display: flex;
    margin-left: 10px;
}

.card-content h6{
    margin: auto!important;
}